{% extends 'base.html' %}

{% block title %}
Коротко о книге
{% endblock %}



{% block content %}
<h1>"Метро 2033"</h1></stih>
<p style="text-indent: 30px;" >
<h4>— это постапокалиптический роман Дмитрия Глуховского, действие которого разворачивается в московском метро после ядерной войны. </h4>
<h4>В результате катастрофы поверхность Земли стала непригодной для жизни из-за радиации и мутантов, и выжившие люди укрылись в подземных станциях.</h4><br><br>
<h2>Основные элементы сюжета:</h2>
<h4>Главный герой: </h4>
<li>Артем — молодой человек, который живет на одной из станций метро. Он решает покинуть свой дом и отправиться в опасное путешествие по подземным туннелям, чтобы найти безопасное место и спасти свою станцию от угрозы, исходящей от загадочных существ, известных как "Темные".</li><br>
<h4>Конфликты: </h4>
<li>На протяжении своего пути Артем сталкивается не только с физическими угрозами, но и с внутренними конфликтами между различными группами выживших, которые обитают на разных станциях. Каждая станция имеет свою культуру, политику и социальные проблемы, такие как борьба за власть, предательство и страх.</li><br>
<h2>Темы и идеи:</h2>
<h4>Выживание: </h4>
<li>Роман исследует, что значит быть человеком в условиях жестокой борьбы за существование. Как выживание меняет моральные принципы и человеческие отношения?</li><br>
<h4>Социальные проблемы: </h4>
<li>Глуховский поднимает вопросы власти, страха и предательства в условиях кризиса. Как люди ведут себя, когда находятся на грани выживания?</li><br>
<h4>Мир после катастрофы: </h4>
<li>Книга заставляет задуматься о том, что произошло с человечеством и каким может быть будущее. Каковы последствия ядерной войны, и как они влияют на человеческую природу?</li><br><br>
<h3>"Метро 2033"</h3><h4>— это не только захватывающий триллер, но и глубокая философская работа, которая заставляет читателя задуматься о жизни, обществе и человечности в условиях катастрофы. 📚✨</h4>

</p>
{% endblock %}

