{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<h1>Главная страница</h1>
<h4>Добро пожаловать на наш сайт, посвященный захватывающему миру метро Москвы и его удивительной интерпретации в "Метро 2033"!</h4><img class="metro2033__img" src="{{ url_for('static', filename='img/metro2033.jpg') }}" alt="logo"><br>
<h4>Здесь мы обсуждаем, как реальное метро и вымышленная вселенная Глуховского пересекаются, создавая уникальные истории и приключения. Представьте, что вы спускаетесь в метро, а вокруг вас — не просто обычные пассажиры, а целая галерея героев, готовых к новым свершениям. В одной руке у вас — автомат, а в другой — карта, на которой помимо привычных маршрутов отмечены опасные зоны и скрытые проходы.</h4><br>
<h4>Как бы вы описали свое похождение, если бы стали частью этой увлекательной истории? На нашем сайте вы сможете делиться своими мыслями и впечатлениями, обсуждать в комментариях, какие станции вдохновили Дмитрия Глуховского, и как в любой момент ваша жизнь мождет превратится в ад.</h4><br>
<h4>Мы предлагаем интересные сравнения: как выглядит реальное метро и какие элементы из "Метро 2033" можно найти в нашей жизни. Это отличная возможность взглянуть на знакомые маршруты с новой точки зрения и пообщаться с единомышленниками.</h4><br>
<h4>Присоединяйтесь к нам, делитесь своими историями и находите новые связи между реальностью и вымыслом в подземных туннелях Москвы!</h4><br>
{% endblock %}